<div class="conatiner_one">
    <div class="container_two">
        <h1 style="text-align: center;">MATRIZ 6x6</h1>
    </div>
    <br>

    <a href="inicio.component.html">
        <button class="p-button">Volver a la Página de Inicio</button>
    </a>

    <br><br>

    <div class="grid-container grid-6x6">
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
        <div class="grid-item purple"></div>
    </div>
</div>
<style>
    .conatiner_one {
        margin: auto;
        width: 90%;
        background-color: #eeeef7;
        padding: 15px;
        border-radius: 1em;
        height: auto;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    }

    .container_two {
        background-color: #8ec6ee;
        padding: 1px;
        border-radius: 10px;
    }

    h1 {
        font-size: 2.5em;
        color: white;
    }

    .grid-container {
        display: grid;
        gap: 10px;
        justify-content: center;
        margin: auto;
    }

    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .grid-6x6 {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        width: 80%;
        height: 800px;
    }

    .grid-6x6 .grid-item.purple {
        background-color: #cd383f;
    }
</style>