<h1 style="text-align: center;font-size:2.5em;">Botones</h1>
<div class="button-container">
    <p-button label="Submit" />

    <div class="card flex">
        <button pButton pRipple label="Submit" class="p-button-success">Entregable</button>
    </div>

    <p-button icon="pi pi-check" />
    <p-button label="Submit" icon="pi pi-check" />
    <p-button label="Submit" icon="pi pi-check" iconPos="right" />
</div>

<style>
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        margin: 10px;
    }

    .button-container p-button {
        margin-right: 10px;
        /* Ajusta el espacio entre botones */
    }
</style>