<a href="inicio.component.html">
    <button class="p-button">Volver a la Página de Inicio</button>
</a>


<div>
    <div class="flex flex-column align-items-center">
        <div class="flex align-items-center justify-content-center h-4rem custom-bg-lightorange font-bold border-round p-md-4 p-lg-5"
            style="width: 30%;">
            Contenido 1
        </div>
        <br>
    </div>
    <div class="flex flex-column" style="min-height: 100vh;">
        <!-- Añadir margen inferior al primer contenido -->
        <div class="p-grid" style="margin-top: 20px; width: 100%; display: flex; justify-content: center;">
            <div class="flex justify-content-between" style="width: 100%;">
                <div class="border-round w-12rem h-10rem custom-bg-lightgreen font-bold flex align-items-center justify-content-center"
                    style="margin-right: 20px;">
                    Cuadro 1
                </div>
                <div
                    class="border-round w-12rem h-10rem custom-bg-lightgreen font-bold flex align-items-center justify-content-center">
                    Cuadro 2
                </div>
            </div>
        </div>

        <!-- 8 cuadros -->
        <br>
        <div class="flex flex-wrap column-gap-4 row-gap-6">
            <div
                class="border-round w-7rem h-6rem custom-bg-lightorange font-bold flex align-items-center justify-content-center">
                Cuadro 1
            </div>
            <div
                class="border-round w-7rem h-6rem custom-bg-lightorange font-bold flex align-items-center justify-content-center">
                Cuadro 2
            </div>
            <div
                class="border-round w-7rem h-6rem custom-bg-lightorange font-bold flex align-items-center justify-content-center">
                Cuadro 3
            </div>
            <div
                class="border-round w-7rem h-6rem custom-bg-lightorange font-bold flex align-items-center justify-content-center">
                Cuadro 4
            </div>
            <div
                class="border-round w-7rem h-6rem custom-bg-lightorange font-bold flex align-items-center justify-content-center">
                Cuadro 5
            </div>
            <div
                class="border-round w-7rem h-6rem custom-bg-lightorange font-bold flex align-items-center justify-content-center">
                Cuadro 6
            </div>
            <div
                class="border-round w-7rem h-6rem custom-bg-lightorange font-bold flex align-items-center justify-content-center">
                Cuadro 7
            </div>
            <div
                class="border-round w-7rem h-6rem custom-bg-lightorange font-bold flex align-items-center justify-content-center">
                Cuadro 8
            </div>
        </div>
        <br><br>

        <div class="flex justify-content-end w-full mt-4">
            <div
                class="block w-15rem h-10rem custom-bg-lightgray text-black font-bold flex align-items-center justify-content-center p-4 border-round">
                Cuadro 1
            </div>
        </div>
        <br>

        <div class="flex justify-content-between w-full mt-4">
            <div
                class="block w-11rem h-10rem custom-bg-lightpurple text-black font-bold flex align-items-center justify-content-center p-4 border-round">
                Cuadro 2
            </div>
            <div
                class="block w-11rem h-10rem custom-bg-lightpurple text-black font-bold flex align-items-center justify-content-center p-4 border-round">
                Cuadro 3
            </div>
        </div>


        <div class="flex align-items-center justify-content-center mt-4">
            <div
                class="block w-20rem h-10rem custom-bg-lightred text-black font-bold flex align-items-center justify-content-center p-4 border-round">
                Cuadro 4
            </div>
        </div>
    </div>
</div>

<style>
    .custom-bg-lightgreen {
        background-color: #90EE90;
        /* Light Green */
    }

    .custom-bg-lightorange {
        background-color: #FFB6C1;
        /* Light Pink */
    }

    .custom-bg-lightgray {
        background-color: #D3D3D3;
        /* Light Gray */
    }

    .custom-bg-lightorange {
        background-color: #f19c09;
        /* Light Orange */
    }

    .custom-bg-lightpurple {
        background-color: #7272f4;
        /* Lavender */
    }

    .custom-bg-lightred {
        background-color: #f27674;
        /* Light Red */
    }
</style>